include LICENSE
include README.md
recursive-include integration_settings/logging *
recursive-include integration_settings/media *
recursive-include integration_settings/google_analytics *
recursive-include integration_settings/authentication *